*.opendb
*.json
*.vcxproj
*..filters
/.vs/slnx.sqlite
/.vs/ValorFinalMedidas/v15/Browse.VC.db
/.vs/ValorFinalMedidas/v15
/.vs/config
/Debug
/ErrorOperations/x64/Debug
/ErrorOperations/ErrorOperations.vcxproj.filters
/ErrorOperations/ErrorOperations.vcxproj
/ValorFinalMedidas/Debug
/ValorFinalMedidas/x64/Debug
/ValorFinalMedidas/ValorFinalMedidas.vcxproj.user
/x64/Debug
